<div class="a4c_modal" [hidden]="!_modal">...</div>
<div class="a4c_confirmDialog" [style.width.px]="width" #confirmDialog>
  <div class="a4c_confirmDialogHeader" *ngIf="header">
    <span class="a4c_confirmDialogTitle">{{header}}</span> <span style="float:right" role="button"
                                                                  (click)="visibleConfirm(false)" *ngIf="_close"><i
    class="fa fa-close fa-lg"></i></span>
  </div>
  <ng-content select="a4-header" *ngIf="!header"></ng-content>

  <div class="a4c_confirmDialogBody">
    <ng-content></ng-content>
  </div>
  <div class="a4c_confirmDialogFooter">
    <div>
      <a4c-button (click)="confirmClick()" customClass="primary" icon="fa fa-check"> Ok</a4c-button>
      <a4c-button (click)="cancelClick()" customClass="primary" icon="fa fa-close"> Cancel</a4c-button>
    </div>

  </div>
</div>
