<div class="col-grid-12" #orderContianer>
  <div class="col-grid-2" #buttonContainer style="padding:0px 5px" *ngIf="control">
    <a4c-button (click)="moveTop()" [block]=true customClass="primary" icon="fa fa-angle-double-up"></a4c-button>
    <a4c-button (click)="oneTop()" [block]=true customClass="primary" icon="fa fa-angle-up"></a4c-button>
    <a4c-button (click)="oneBottom()" [block]=true customClass="primary" icon="fa fa-angle-down"></a4c-button>
    <a4c-button (click)="moveBottom()" [block]=true customClass="primary" icon="fa fa-angle-double-down"></a4c-button>
  </div>
  <div class="col-grid-10" #orderlistContainer style="padding:0; border:1px solid #d4d4d4">
    <div class="a4c_orderheader" *ngIf="header">
      <span class="a4c_orderTitle">{{header}}</span>
    </div>
    <div>
      <input type="text" [(ngModel)]="filterSearch" (ngModelChange)="filterData(filterSearch)" placeholder="Search" class="a4c-search">
    </div>
    <div #orderListValues>
      <div *ngFor="let values of dataSoruce index as i">
        <div *ngIf="groupField && checkGroupExist(i)" class="a4c_group" (click)="toggleGroupField(values)">
          {{values[groupField]}}
        </div>
        <div class="a4c-list" (click)="rowClicked($event,values)" *ngIf="checkGroupFieldExpanded(values)">
          <input type="checkbox" [checked]="values.$$checked" *ngIf="multiple"> {{values[field]}}
        </div>
      </div>
    </div>
  </div>
</div>
