.a4c_orderheader {
  position: relative;
  width: 100%;
  min-height: 35px;
  padding: 6px 12px;
  background-color: #337ab7;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.a4c_orderTitle {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.a4c-list {
  padding: 6px 12px;
  cursor: default;
  border: 1px solid #d5d5d5;
  line-height: 1.42857143;
}

.a4c-list:hover {
  background-color: #d5d5d5;
  border: 1px solid #adadad;
}

.a4c-list.active {
  background-color: #1b598e!important;
  border: 1px solid #0c5593!important;
  color: white;
}

.a4c-search {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
