<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

</div>
<div class="col-grid-8">
  <a4c-order [data]="data" field="name" header="Class List"></a4c-order>
</div>

<div class="col-grid-6">
  <a4c-pick [data]="data" availableHeader="Available Class" field="name" selectedHeader="Selected Class"
            header="Class List" btnPosition="right"></a4c-pick>
</div>
<a4c-button (click)="showConfirm()">show confirm</a4c-button>
<a4c-confirm header="Header" footer="footer here" visible="true" (confirm)="confrimYesClick()" closeBtn="true"
modal="true">
Place your confirmation message here
</a4c-confirm>

<a4c-alert header="Alert" visible="true" width="400">
I am an alert. Please click ok to close
</a4c-alert>
